.banner-section {
  background:rgba(0, 51, 153, 0.55) url("../assets/images/Banner_img.jpg") center/cover no-repeat;
  background-blend-mode: overlay;
  color: #fff;
  text-align: center;
  padding: 120px 20px;
  width: 100%;
  min-height: 500px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 51, 153, 0.55);
}

.banner-section::before {
  content: "";
  inset: 0;
  background: rgba(0, 51, 153, 0.55);
}

.banner-section > * {
  position: relative;
  z-index: 1;
}

.name-logo{
  font-size:50px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.banner-section h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 25px;
  color: #fff;
}

.banner-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.banner-section input {
  width: 60%;
  max-width: 500px;
  padding: 14px 100px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.banner-section .search-btn {
  background-color: #0B66D1;
  border: none;
  color: #fff;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.banner-section .search-btn:hover {
  transform: translateY(-2px);
  background-color: #00B8FF;
  box-shadow: 0 6px 18px rgba(79, 70, 229, 0.35);

}

.banner-categories {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.banner-categories button {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.banner-categories button:hover {
  background: #fff;
  color: #0066ff;
}
